*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

.container{
    padding: 0px 15px;
    max-width: 1180px;
    width:100%; 
}

.gray-text {
    color: #989898; 
  
  .form-check-label {
    color: #2E2E2D; 
  }
}  

.gray-text2{
    color: #C7C7C7;
}

.hr-linha-amarela{
    border: 3px solid #E3D400;
    opacity: 100%;
    max-width: 72px;    
    width: 100%;
}

.hr-modulo{
    border: 1px solid #2E2E2D;
    opacity: 100%;
}

.hr-professores{
    border: 3px solid #18A6AC;
    opacity: 100%;
    max-width: 90px;
    margin: 0px;
    width: 100%;
}

#navbar.rolagem {
    background-image: url(./imgs/esse.png);
}

#navbar.rolagem.navbarmenu {
    padding: 20px;
}

.max-375{
    max-width: 375px;
}

.btn{
    max-width: 176px;
    width:100%;
    min-height: 48px;
    background-color: #E3D400;
    border-radius: 24px;
    color:black;
    font-weight: 700;
}

.btn-outline{
    max-width: 394px;
    min-height: 48px;
    width:100%;
    background-color: #18A6AC;
    border-radius: 24px;
    color:white;
    font-weight: 700;
}

.btn-outline-orange{
    max-width: 274px;
    min-height: 48px;
    width:100%;
    background-color: #F95A10;
    border-radius: 24px;
    color:white;
    font-weight: 700;
}

.textBanner{
    margin-top: 120px !important; 
    max-width: 420px;
    min-height: 360px;
    color: white;   
    font-weight: 700;
  }

  .texto1{
    margin-bottom: 16px;

    width: 100%;
  }

.checkbox{
    gap: 16px;
}

.form-control{
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
}

.formlimit{
    border-radius: 8px;
    max-width: 418px;
    min-height: 486px;
    margin-top: 90px;
    margin-bottom: 100px;
}
 
#sobre{
    background-image: url(./imgs/backgroundbipp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
}

.navbar {
    position:fixed;
    width: 100%;
}

.col{
    max-width: 376px;
    width: 100%;
}

.border{
    border-radius: 4px;
    max-width: 375px;
    width: 100%;
    min-height: 300px;
}

.navbar-toggler{
    display: none;
}

.menu-icons{
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    width: 100%;
    justify-content: space-evenly;
}
.dropdown-toggle::after{
    display: none;
}

.navbar-toggler-icon-close{
    display: none;
}

.navbar-collapse { 
    overflow: hidden; 
    transition: 0.5s ease; 
}


.navbar-collapse.show {
    transition: 0.5s ease; 
    margin-bottom: 15px;
}

.navbar.expanded {
    background-image: url('./imgs/esse.png');
    background-size: cover;
    transition: 0.6 ease;
}

.diferenciais{
    max-width: 40px;
    width: 100%;
    min-height: 40px;
}

.modulos{
    content: counter(cont);
    background-color: #2E2E2D;
    color: #fff;
    background-repeat: no-repeat;
    max-width: 24px;
    width: 100%;
    height: 24px;
    position: absolute;
    top: 25px;
    left: 38px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#professores{
    background-color: #2E2E2D;
    background-image: url("imgs/backgroundbipp2.png");
}

.owl-carousel{
    max-width: 1180px;
    min-height: fit-content;
}

.owl-carousel button.owl-dot {
    display: none !important;
}

.footer-h{
    min-height: 60px;
    background-color: #2E2E2D;
}

.footer-m{
    margin: auto 0px auto 0px !important;
}

.botaowpp {
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    right: 10px;
    bottom: 85px;
    z-index: 997;
}

.botaowpp img{  
    user-select: none;
    cursor: pointer;
    max-width: 100px;
}

@media (max-width:767px){
    #buttonnav{
        margin-top: 10px;
    }
    .rowbanner{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .bannertopo {
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .textBanner{
        margin-top: 0px !important;
    }
    .formlimit {
        margin-top: 0px !important;
    }
    .navbar-toggler{
        display: block;
    }
}

@media (max-width: 576px) {
    .icon {
        flex-direction: column;
        align-items: center;
    }
    .text-prof{
        text-align: center !important;
        margin-top: 15px;
    }
    .footer-m{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .img-footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text{
        text-align: center;
    }
}

